

.tick line{
  opacity: 0.2;
  stroke-dasharray: 4,4;
}

#my-histogram{
  position: absolute;
  top: -341px;
  /*top moved over so we can overlay the canvas on top of the other box*/
  left: 10px;
}

#container{
  position: absolute;

}

#Graph1{
  position: absolute;
  left: 1200px;
}


#Graph2{
  position: absolute;
  top: 360px;
  left: 1200px;
}

#Graph3{
  position: absolute;
  top: 720px;
  left: 1200px;
}

#Zoom1{
  position: absolute;
  left: 1550px;
}


#Zoom2{
  position: absolute;
  top: 360px;
  left: 1550px;
}

#Zoom3{
  position: absolute;
  top: 720px;
  left: 1550px;
}



#Svg1
{
  position: absolute;
  top: -30px;
  left:0px;
}

#Svg2
{
  position: absolute;
  top: 65px;
  left: 410px;
}

#Svg3
{
  position: absolute;
  top: 720px;
  left: 1200px;
}

#Canvas1{
  position: absolute;
  top: -30px;
  left: 0px;
}

#Canvas2{
  position: absolute;
  top: 65px;
  left: 410px;
}

#Canvas3{
  position: absolute;
  top: 0px;
  left: 790px;
}


#diff-results{
  position: absolute;
  top: 440px;
  left: 750px;
  width: 400px;
  height: 400px;
}

#option-buttons{
  position: absolute;

  top: 80px;
  left: 0px;
}



#image-comparison-div {
  position: absolute;
  top:  0px;
  left: 12px;
}

#thesame{
  position: absolute;
  top:  15px;
  left: 800px;
  width: 400px;
  height: 400px;
  color: #00590c;
}


h1	{
color: #FFF;
font-family: arial, sans-serif;
font-size: 36px;
font-weight: bold;
margin-top: 3px;
margin-bottom:3px;
}

h2{
color: #FFF;
font-family: arial, sans-serif;
font-size: 30px;
margin-top: 0px;
margin-bottom:0px;
}

h5	{
color: #000 !important;
font-family: arial, sans-serif  !important;
font-size: 18px !important;
margin-top: 1px !important;
margin-bottom:1px !important;
margin-left:30px !important;

}
/*
the fallwoing is to style the slider */

.histogram {
  isolation: isolate;
}

.histogram-area {
  mix-blend-mode: screen;
}

.histogram-area.histogram-r {
  fill: #f00;
}

.histogram-area.histogram-g {
  fill: #0f0;
}

.histogram-area.histogram-b {
  fill: #00f;
}

.histogram-line {
  fill: none;
  stroke: #AAA;
  shape-rendering: crispEdges;
}


.histogram2 {
  isolation: isolate;
}

.histogram2-area {
  mix-blend-mode: screen;
}

.histogram2-area2.histogram-r {
  fill: #f00;
}

.histogram2-area.histogram-g {
  fill: #0f0;
}

.histogram2-area.histogram-b {
  fill: #00f;
}

.histogram2-line {
  fill: none;
  stroke: #AAA;
  shape-rendering: crispEdges;
}



.brush .extent {
  fill-opacity: .3;
  shape-rendering: crispEdges;
}

.brush2 .extent {
  fill-opacity: .3;
  shape-rendering: crispEdges;
}

main {
  right:600px;
  top:600px;
  position: absolute;
  background-color: purple;
}


body{
  margin: auto;
     background-color: white !important;
     font-size: 14px;
}

label {
  display: block;
  color:white;
  padding-left: 15px;
  text-indent: -15px;
  position: relative;
  left:660px;
}
input {
  color:white;
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}
